absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.16
ale-py==0.8.1
alembic==1.11.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
antlr4-python3-runtime==4.9.3
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
arabic-reshaper==3.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
asn1crypto==1.5.1
asteroid-filterbanks==0.4.0
astroid==2.11.5
asttokens==2.0.5
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Babel==2.10.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
binwalk==2.3.3+fa0c0bd
black==22.3.0
bleach==5.0.0
blessed==1.20.0
blobfile==1.3.1
boto3==1.34.17
botocore==1.34.17
Brotli==1.0.9
bs4==0.0.1
build==1.0.3
cachetools==5.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
chumpy==0.70
click==8.1.3
cloudpickle==3.0.0
cmaes==0.9.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.1.4
coverage==5.3.1
crcmod==1.7
croniter==1.4.1
cryptography==41.0.7
cssselect2==0.7.0
cycler==0.11.0
Cython==3.0.8
DALL-E==0.1
data-gradients==0.3.2
dateutils==0.6.12
debugpy==1.6.0
decorator==5.1.1
deepdiff==6.3.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.5.1
dm-tree==0.1.8
docopt==0.6.2
docutils==0.17.1
einops==0.3.2
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.3.0
exceptiongroup==1.2.0
executing==0.8.3
Farama-Notifications==0.0.4
fastapi==0.100.0
fastjsonschema==2.15.3
filelock==3.7.0
flake8==7.0.0
flatbuffers==23.5.9
fonttools==4.33.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gdown==4.7.1
gevent==21.12.0
glob2==0.7
google-api-core==2.8.0
google-api-python-client==2.48.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.56.1
gpt==0.2
greenlet==1.1.2
grequests==0.6.0
grpcio==1.54.2
gTTS==2.2.4
gymnasium==0.29.1
h11==0.14.0
h5py==3.8.0
html5lib==1.1
httplib2==0.20.4
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.1
idna==3.3
imagededup==0.3.1
imagesize==1.4.1
imgkit==1.2.2
importlib-metadata==7.0.1
importlib-resources==5.12.0
iniconfig==1.1.1
inquirer==3.1.3
interrogate==1.5.0
ipykernel==6.13.0
ipympl==0.9.3
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.1.2
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.1.0
jq==1.2.2
Js2Py==0.74
json-tricks==3.16.1
json5==0.9.8
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
julius==0.2.7
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==2.13.1rc0
keyboard==0.13.5
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
lazy_loader==0.3
learntools==0.3.4
lib50==3.0.4
libclang==16.0.0
librosa==0.10.0.post2
lightning==2.0.5
lightning-cloud==0.5.37
lightning-utilities==0.9.0
llvmlite==0.40.1
lxml==4.8.0
Mako==1.2.4
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mdurl==0.1.2
mistune==0.8.4
mmcv==2.1.0
mmdet==3.2.0
mmengine==0.10.2
-e git+https://github.com/open-mmlab/mmpose.git@5a3be9451bdfdad2053a90dc1199e3ff1ea1a409#egg=mmpose
model-index==0.1.11
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
munkres==1.1.4
mutagen==1.45.1
mypy==0.950
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
nltk==3.7
notebook==6.4.11
notebook_shim==0.2.3
numba==0.57.1
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.0
onnx-simplifier==0.4.35
onnxruntime==1.13.1
openai==0.27.6
opencv-python==4.5.5.64
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.0.10
openxlab==0.0.34
opt-einsum==3.3.0
optuna==3.2.0
ordered-set==4.1.0
oscrypto==1.3.0
oss2==2.17.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==21.3
pandas==1.4.2
pandas-stubs==1.4.2.220626
pandocfilters==1.5.0
parameterized==0.9.0
parrot @ git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git@4c53b28bcb2db8bc2ae055077853e2be4781f6f9
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip-tools==7.3.0
pipwin==0.5.2
platformdirs==4.1.0
pluggy==1.0.0
pomegranate==0.14.8
pooch==1.6.0
praw==7.6.0
prawcore==2.3.0
primePy==1.3
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyannote.audio @ https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.14.1
pydantic==1.10.11
pyDeprecate==0.3.2
pyflakes==3.2.0
pygame==2.1.2
Pygments==2.15.1
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pyjsparser==2.7.1
PyJWT==2.7.0
pylint==2.13.9
pymongo==4.1.1
pynvim==0.4.3
pyobjc==8.5.1
pyobjc-core==8.5.1
pyobjc-framework-Accessibility==8.5.1
pyobjc-framework-Accounts==8.5.1
pyobjc-framework-AddressBook==8.5.1
pyobjc-framework-AdServices==8.5.1
pyobjc-framework-AdSupport==8.5.1
pyobjc-framework-AppleScriptKit==8.5.1
pyobjc-framework-AppleScriptObjC==8.5.1
pyobjc-framework-ApplicationServices==8.5.1
pyobjc-framework-AppTrackingTransparency==8.5.1
pyobjc-framework-AudioVideoBridging==8.5.1
pyobjc-framework-AuthenticationServices==8.5.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.5.1
pyobjc-framework-Automator==8.5.1
pyobjc-framework-AVFoundation==8.5.1
pyobjc-framework-AVKit==8.5.1
pyobjc-framework-BusinessChat==8.5.1
pyobjc-framework-CalendarStore==8.5.1
pyobjc-framework-CallKit==8.5.1
pyobjc-framework-CFNetwork==8.5.1
pyobjc-framework-ClassKit==8.5.1
pyobjc-framework-CloudKit==8.5.1
pyobjc-framework-Cocoa==8.5.1
pyobjc-framework-Collaboration==8.5.1
pyobjc-framework-ColorSync==8.5.1
pyobjc-framework-Contacts==8.5.1
pyobjc-framework-ContactsUI==8.5.1
pyobjc-framework-CoreAudio==8.5.1
pyobjc-framework-CoreAudioKit==8.5.1
pyobjc-framework-CoreBluetooth==8.5.1
pyobjc-framework-CoreData==8.5.1
pyobjc-framework-CoreHaptics==8.5.1
pyobjc-framework-CoreLocation==8.5.1
pyobjc-framework-CoreMedia==8.5.1
pyobjc-framework-CoreMediaIO==8.5.1
pyobjc-framework-CoreMIDI==8.5.1
pyobjc-framework-CoreML==8.5.1
pyobjc-framework-CoreMotion==8.5.1
pyobjc-framework-CoreServices==8.5.1
pyobjc-framework-CoreSpotlight==8.5.1
pyobjc-framework-CoreText==8.5.1
pyobjc-framework-CoreWLAN==8.5.1
pyobjc-framework-CryptoTokenKit==8.5.1
pyobjc-framework-DataDetection==8.5.1
pyobjc-framework-DeviceCheck==8.5.1
pyobjc-framework-DictionaryServices==8.5.1
pyobjc-framework-DiscRecording==8.5.1
pyobjc-framework-DiscRecordingUI==8.5.1
pyobjc-framework-DiskArbitration==8.5.1
pyobjc-framework-DVDPlayback==8.5.1
pyobjc-framework-EventKit==8.5.1
pyobjc-framework-ExceptionHandling==8.5.1
pyobjc-framework-ExecutionPolicy==8.5.1
pyobjc-framework-ExternalAccessory==8.5.1
pyobjc-framework-FileProvider==8.5.1
pyobjc-framework-FileProviderUI==8.5.1
pyobjc-framework-FinderSync==8.5.1
pyobjc-framework-FSEvents==8.5.1
pyobjc-framework-GameCenter==8.5.1
pyobjc-framework-GameController==8.5.1
pyobjc-framework-GameKit==8.5.1
pyobjc-framework-GameplayKit==8.5.1
pyobjc-framework-ImageCaptureCore==8.5.1
pyobjc-framework-IMServicePlugIn==8.5.1
pyobjc-framework-InputMethodKit==8.5.1
pyobjc-framework-InstallerPlugins==8.5.1
pyobjc-framework-InstantMessage==8.5.1
pyobjc-framework-Intents==8.5.1
pyobjc-framework-IntentsUI==8.5.1
pyobjc-framework-IOSurface==8.5.1
pyobjc-framework-iTunesLibrary==8.5.1
pyobjc-framework-KernelManagement==8.5.1
pyobjc-framework-LatentSemanticMapping==8.5.1
pyobjc-framework-LaunchServices==8.5.1
pyobjc-framework-libdispatch==8.5.1
pyobjc-framework-LinkPresentation==8.5.1
pyobjc-framework-LocalAuthentication==8.5.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5.1
pyobjc-framework-MailKit==8.5.1
pyobjc-framework-MapKit==8.5.1
pyobjc-framework-MediaAccessibility==8.5.1
pyobjc-framework-MediaLibrary==8.5.1
pyobjc-framework-MediaPlayer==8.5.1
pyobjc-framework-MediaToolbox==8.5.1
pyobjc-framework-Metal==8.5.1
pyobjc-framework-MetalKit==8.5.1
pyobjc-framework-MetalPerformanceShaders==8.5.1
pyobjc-framework-MetalPerformanceShadersGraph==8.5.1
pyobjc-framework-MetricKit==8.5.1
pyobjc-framework-MLCompute==8.5.1
pyobjc-framework-ModelIO==8.5.1
pyobjc-framework-MultipeerConnectivity==8.5.1
pyobjc-framework-NaturalLanguage==8.5.1
pyobjc-framework-NetFS==8.5.1
pyobjc-framework-Network==8.5.1
pyobjc-framework-NetworkExtension==8.5.1
pyobjc-framework-NotificationCenter==8.5.1
pyobjc-framework-OpenDirectory==8.5.1
pyobjc-framework-OSAKit==8.5.1
pyobjc-framework-OSLog==8.5.1
pyobjc-framework-PassKit==8.5.1
pyobjc-framework-PencilKit==8.5.1
pyobjc-framework-Photos==8.5.1
pyobjc-framework-PhotosUI==8.5.1
pyobjc-framework-PreferencePanes==8.5.1
pyobjc-framework-PushKit==8.5.1
pyobjc-framework-Quartz==8.5.1
pyobjc-framework-QuickLookThumbnailing==8.5.1
pyobjc-framework-ReplayKit==8.5.1
pyobjc-framework-SafariServices==8.5.1
pyobjc-framework-SceneKit==8.5.1
pyobjc-framework-ScreenCaptureKit==8.5.1
pyobjc-framework-ScreenSaver==8.5.1
pyobjc-framework-ScreenTime==8.5.1
pyobjc-framework-ScriptingBridge==8.5.1
pyobjc-framework-SearchKit==8.5.1
pyobjc-framework-Security==8.5.1
pyobjc-framework-SecurityFoundation==8.5.1
pyobjc-framework-SecurityInterface==8.5.1
pyobjc-framework-ServiceManagement==8.5.1
pyobjc-framework-ShazamKit==8.5.1
pyobjc-framework-Social==8.5.1
pyobjc-framework-SoundAnalysis==8.5.1
pyobjc-framework-Speech==8.5.1
pyobjc-framework-SpriteKit==8.5.1
pyobjc-framework-StoreKit==8.5.1
pyobjc-framework-SyncServices==8.5.1
pyobjc-framework-SystemConfiguration==8.5.1
pyobjc-framework-SystemExtensions==8.5.1
pyobjc-framework-UniformTypeIdentifiers==8.5.1
pyobjc-framework-UserNotifications==8.5.1
pyobjc-framework-UserNotificationsUI==8.5.1
pyobjc-framework-VideoSubscriberAccount==8.5.1
pyobjc-framework-VideoToolbox==8.5.1
pyobjc-framework-Virtualization==8.5.1
pyobjc-framework-Vision==8.5.1
pyobjc-framework-WebKit==8.5.1
pyparsing==2.4.5
pypdf==3.17.4
pypng==0.20220715.0
PyPrind==2.11.3
pyproject_hooks==1.0.0
PyQt3D==5.15.6
PyQt5==5.15.10
PyQt5-sip==12.10.1
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyrsistent==0.18.1
pySmartDL==1.3.4
PySocks==1.7.1
pytest==7.1.2
pytest-runner==6.0.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-json-logger==2.0.7
python-Levenshtein==0.12.2
python-multipart==0.0.6
python-vlc==3.0.16120
python-xlib==0.31
pytorch-lightning==2.0.5
pytorch-metric-learning==2.2.0
pytube==12.1.0
pytz==2023.3.post1
PyWavelets==1.5.0
PyYAML==6.0
pyzmq==25.1.1
qrcode==7.4.2
rapidfuzz==3.6.1
readchar==4.0.5
referencing==0.30.2
regex==2022.6.2
reportlab==3.6.13
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rpds-py==0.10.3
rsa==4.8
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
s3transfer==0.10.0
sacremoses==0.0.53
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
selenium==4.17.2
semver==3.0.1
Send2Trash==1.8.2
sentence-transformers==2.2.0
sentencepiece==0.1.96
shapely==2.0.2
shellingham==1.5.0.post1
Shimmy==1.3.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.5
speechbrain==0.5.14
Sphinx==4.0.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.18
stable-baselines3==2.2.1
stack-data==0.2.0
starlette==0.27.0
starsessions==1.3.0
stringcase==1.2.0
submit50==3.1.1
super-gradients @ git+https://github.com/Deci-AI/super-gradients.git@c601888ea384592f1493a3e7724b368acc76303f
svglib==1.5.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboardX==2.6.1
tensorflow==2.13.0rc0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc0
tensorflow-metadata==1.13.1
termcolor==1.1.0
terminado==0.15.0
terminaltables==3.1.10
testpath==0.6.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tk==0.1.0
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
torch==2.0.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.0.2
torchinfo==1.8.0
torchmetrics==0.8.0
torchvision==0.12.0
tornado==6.3.3
tqdm==4.65.2
traitlets==5.9.0
transformers==4.19.4
treelib==1.6.1
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
typing_extensions==4.9.0
tzlocal==5.1
update-checker==0.18.0
uri-template==1.3.0
uritemplate==4.1.1
uritools==4.0.2
urllib3==1.26.7
uvicorn==0.22.0
vl==0.3.4
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
Werkzeug==2.3.4
widgetsnbextension==4.0.9
wisdom-tree==0.1.4
wkhtmltopdf==0.2
wrapt==1.14.1
wsproto==1.2.0
xdoctest==1.1.2
xhtml2pdf==0.2.11
xmltodict==0.13.0
xtcocotools==1.14.3
yapf==0.40.2
yarl==1.9.2
youtube-dl @ git+https://github.com/ytdl-org/youtube-dl.git@be008e657d79832642e2158557c899249c9e31cd
yt-dlp==2022.5.18
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
